<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> Steam Recommendation System </title> 
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>

    <body>
        <!-- Header with the logo and title-->
        <div class="header">
            <div class="logo"> <img src="{{ url_for('static', filename='images/steam_logo.png') }}" width="250" height="250"> </div>
            <div class="title"> 
                <h1> Steam  </h1>
                <h1> Recommender</h1> 
            </div>
        </div>

        <div class="prompt"> 
            <h1> Enter your Steam ID: </h1>

            <!-- Form will send the user input to the backend using Flask -->
            <form action="/recommendation" method="POST">
                <input type="text" name="steamID" id="steamID" minlength="17" maxlength="17" size="40" required>
                <button type="submit">Submit</button>
            </form>
        </div>
    </body>
</html>


